OPENAI_API_KEY =
SUPABASE_URL = https://uupftsuexunuwsdejxrh.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1cGZ0c3VleHVudXdzZGVqeHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDk4MTQsImV4cCI6MjA5MTMyNTgxNH0.8mGjFrMj2bqyZuyrQIDcBsYlp7uXITLMyWSXqj-thQ8
